
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <form #addcourse="ngForm" (ngSubmit)="Addcourse()">
                <div class="row g-3">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Course title :</label>
                        <input type="text" name="Course title" class="form-control" [(ngModel)]="course.courseTitle">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Duration :</label>
                        <input type="time" name="Duration" class="form-control" [(ngModel)]="course.courseDuration">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Description :</label>
                        <textarea name="Description" id="" cols="30" rows="5" class="form-control" [(ngModel)]="course.courseDescription"></textarea>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Venue :</label>
                        <input type="" name="Venue" class="form-control" [(ngModel)]="course.courseVenue">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Date :</label>
                        <input type="date" name="Date" id="" class="form-control" [(ngModel)]="course.courseDate">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <button class="btn btn-primary">Register</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
